In [119]:
import pandas as pd
dflist = pd.read_html('https://www.iposcoop.com/last-12-months/')
df = dflist[0]
df.head()

,Company,Symbol,Industry,Offer Date,Shares (millions),Offer Price,1st Day Close,Current Price,Return,SCOOP Rating
0,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$35.25,30.56%,S/O
1,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$14.70,5.00%,S/O
2,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$18.00,20.00%,S/O
3,Envista Holdings,NVST,Health Care,9/18/2019,26.8,$22.00,$27.95,$27.74,26.09%,S/O
4,IGM Biosciences,IGMS,Health Care,9/18/2019,10.9,$16.00,$24.30,$19.83,23.94%,S/O

In [118]:
df.rename(columns={"Offer Date":"date","Shares (millions)":"shares","Offer Price":"price","1st Day Close":"close","Current Price":"current_price","Return":"return"}, inplace=True)
df4 = df
df4.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return
0,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$34.50,27.78%
1,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$16.79,19.93%
2,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$18.51,23.40%
3,Envista Holdings,NVST,Health Care,9/18/2019,26.8,$22.00,$27.95,$28.22,28.27%
4,IGM Biosciences,IGMS,Health Care,9/18/2019,10.9,$16.00,$24.30,$20.70,29.38%

In [5]:
df.to_csv('IPOdata.csv')

In [7]:
company_list = df.Company.tolist()
# company_list

In [8]:
import requests
companies = []
for i in company_list:
    try:
        table = pd.read_html(f'https://www.iposcoop.com/ipo/{i}/')
        if table:
            companies.append(table[0])
    except: continue

In [41]:
headers = companies[0][0].tolist()

In [60]:
headers

['General Information',
 'Business:',
 'Industry:',
 'Employees:',
 'Founded:',
 'Contact Information',
 'Address',
 'Phone Number',
 'Web Address',
 'View Prospectus:',
 'Financial Information',
 'Market Cap',
 'Revenues',
 'Net Income',
 'IPO Profile',
 'Symbol',
 'Exchange',
 'Shares (millions):',
 'Price range',
 'Est. $ Volume',
 'Manager / Joint Managers',
 'CO-Managers',
 'Expected To Trade:',
 'Status:',
 'Quiet Period Expiration Date:',
 'Lock-Up Period Expiration Date:',
 'SCOOP Rating',
 'Rating Change']

In [61]:
dflist = []
for i in range(len(companies)):
    try:    
        data = companies[i][1].tolist()
        dflist.append(data)
    except:
        continue
#     print(type(data))
#     dflist.append(data)

In [62]:
df2 = pandas.DataFrame(dflist)

In [120]:
df2.head(2)

,General Information,Business:,Industry:,Employees:,Founded:,Contact Information,Address,Phone Number,Web Address,View Prospectus:,...,Price range,Est. $ Volume,Manager / Joint Managers,CO-Managers,Expected To Trade:,Status:,Quiet Period Expiration Date:,Lock-Up Period Expiration Date:,SCOOP Rating,Rating Change
0,NaN,Datadog is the monitoring and analytics platfo...,PREPACKAGED SOFTWARE,1212,2010,NaN,"620 8th Avenue, 45th Floor, New York, NY 10018...",(866) 329-4466,http://www.datadog.com,Datadog,...,$27.00 - $27.00,$648.0 mil,Morgan Stanley/ Goldman Sachs/ J.P. Morgan/ Cr...,Barclays/ Jefferies/ RBC Capital Markets/ JMP ...,9/19/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers
1,NaN,Exagen is dedicated to transforming the care c...,MEDICAL LABORATORIES,114,2002,NaN,"1261 Liberty Way, Suite C, Vista, CA 92081, US",(760) 560-1501,http://www.exagen.com,Exagen,...,$14.00 - $14.00,$50.0 mil,Cowen/ Cantor/ William Blair,-,9/19/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers

In [66]:
df2.columns = headers

In [67]:
df2.head(2)

,General Information,Business:,Industry:,Employees:,Founded:,Contact Information,Address,Phone Number,Web Address,View Prospectus:,...,Price range,Est. $ Volume,Manager / Joint Managers,CO-Managers,Expected To Trade:,Status:,Quiet Period Expiration Date:,Lock-Up Period Expiration Date:,SCOOP Rating,Rating Change
0,NaN,Datadog is the monitoring and analytics platfo...,PREPACKAGED SOFTWARE,1212,2010,NaN,"620 8th Avenue, 45th Floor, New York, NY 10018...",(866) 329-4466,http://www.datadog.com,Datadog,...,$27.00 - $27.00,$648.0 mil,Morgan Stanley/ Goldman Sachs/ J.P. Morgan/ Cr...,Barclays/ Jefferies/ RBC Capital Markets/ JMP ...,9/19/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers
1,NaN,Exagen is dedicated to transforming the care c...,MEDICAL LABORATORIES,114,2002,NaN,"1261 Liberty Way, Suite C, Vista, CA 92081, US",(760) 560-1501,http://www.exagen.com,Exagen,...,$14.00 - $14.00,$50.0 mil,Cowen/ Cantor/ William Blair,-,9/19/2019,Priced,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers,Available only to Subscribers

In [46]:
df.to_csv('IPOdataTwo.csv')

In [98]:
df6 = df2[["View Prospectus:","Address","Price range","Est. $ Volume"]]
df6.rename(columns={"View Prospectus:":"Company","Price range":"price_range","Est. $ Volume":"volume","Address":"address"}, inplace=True)
df6.head()

,Company,address,price_range,volume
0,Datadog,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
1,Exagen,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
2,Ping Identity Holding,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil
3,Envista Holdings,"200 S. Kraemer Blvd., Building E, Brea, CA 928...",$22.00 - $22.00,$588.9 mil
4,IGM Biosciences,"325 E. Middlefield Road, Mountain View, CA 940...",$16.00 - $16.00,$175.0 mil

In [136]:
df6[df6["volume"].str.replace("mil","")]

KeyError: "['$648.0 ' '$50.0 ' '$187.5 ' '$588.9 ' '$175.0 ' '$60.1 ' '$525.0 '\n '$82.5 ' '$162.0 ' '$390.0 ' '$1346.4 ' '$84.6 ' '$70.0 ' '$174.0 '\n '$569.8 ' '$143.0 ' '$8.0 ' '$190.4 ' '$64.0 ' '$182.0 ' '$355.2 '\n '$110.0 ' '$168.0 ' '$261.1 ' '$325.5 ' '$72.0 ' '$172.5 ' '$167.2 '\n '$775.0 ' '$89.2 ' '$300.0 ' '$348.5 ' '$557.1 ' '$90.0 ' '$1400.0 '\n '$69.6 ' '$92.0 ' '$125.0 ' '$134.7 ' '$125.0 ' '$1023.0 ' '$110.5 '\n '$36.0 ' '$207.9 ' '$60.7 ' '$50.0 ' '$665.0 ' '$2898.0 ' '$168.8 '\n '$76.5 ' '$40.0 ' '$36.8 ' '$39.3 ' '$71.4 ' '$75.0 ' '$199.7 ' '$106.3 '\n '$82.5 ' '$75.0 ' '$225.0 ' '$500.0 ' '$55.0 ' '$27.0 ' '$352.0 '\n '$240.6 ' '$179.4 ' '$91.0 ' '$261.0 ' '$102.0 ' '$84.0 ' '$1425.0 '\n '$751.3 ' '$166.5 ' '$195.8 ' '$217.7 ' '$107.8 ' '$6.0 ' '$120.0 '\n '$1080.0 ' '$125.0 ' '$8.8 ' '$2340.0 ' '$623.3 ' '$104.0 ' '$90.0 '\n '$96.9 ' '$75.0 ' '$25.0 ' '$7.0 ' '$70.0 ' '$75.0 ' '$75.6 ' '$175.8 '\n '$280.0 ' '$7.2 ' '$51.2 ' '$1066.0 ' '$604.3 ' '$131.0 ' '$66.5 '\n '$24.0 ' '$21.8 ' '$151.9 ' '$45.0 ' '$56.0 ' '$21.6 ' '$48.8 ' '$120.0 '\n '$200.0 ' '$70.0 ' '$50.0 ' '$44.3 ' '$288.0 ' '$70.0 ' '$56.0 '\n '$387.5 ' '$46.6 ' '$46.0 ' '$359.4 ' '$108.0 ' '$248.0 ' '$65.4 '\n '$324.0 ' '$340.0 ' '$252.0 ' '$237.5 ' '$90.0 ' '$187.2 ' '$52.2 '\n '$120.0 ' '$71.9 ' '$66.3 ' '$140.0 ' '$194.4 ' '$27.9 ' '$75.0 '\n '$180.0 ' '$102.6 '] not in index"

In [137]:
df6

,Company,address,price_range,volume
0,Datadog,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
1,Exagen,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
2,Ping Identity Holding,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil
3,Envista Holdings,"200 S. Kraemer Blvd., Building E, Brea, CA 928...",$22.00 - $22.00,$588.9 mil
4,IGM Biosciences,"325 E. Middlefield Road, Mountain View, CA 940...",$16.00 - $16.00,$175.0 mil
5,Alerus Financial,"401 Demers Avenue, Grand Forks, ND 58201, US",$21.00 - $21.00,$60.1 mil
6,Cloudflare,"101 Townsend Street, San Francisco, CA 94107, US",$15.00 - $15.00,$525.0 mil
7,Satsuma Pharmaceuticals,"400 Oyster Point Boulevard, Suite 221, South S...",$15.00 - $15.00,$82.5 mil
8,SpringWorks Therapeutics,"100 Washington Blvd., Stamford, CT 06902, US",$18.00 - $18.00,$162.0 mil
9,10x Genomics,"6230 Stoneridge Mall Road, Pleasanton, CA 9458...",$39.00 - $39.00,$390.0 mil
10,SmileDirectClub,"414 Union Street, Nashville, TN 37219, US",$23.00 - $23.00,$1346.4 mil
11,9F,"Jiufu Building, Rongxin Technology Center, Cha...",$9.50 - $9.50,$84.6 mil
12,InMode Ltd.,"Tavor Building, Sha’ar Yokneam, P.O. Box 533, ...",$14.00 - $14.00,$70.0 mil
13,AMTD International,"23/F Nexxus Building, 41 Connaught Road Centra...",$8.38 - $8.38,$174.0 mil
14,Dynatrace Holdings,"1601 Trapelo Road, Suite 116 Waltham, MA 02451...",$16.00 - $16.00,$569.8 mil
15,Sundial Growers,"#200, 919 – 11 Avenue SW, Calgary, Alberta, Ca...",$13.00 - $13.00,$143.0 mil
16,Blue Hat Interactive Entertainment Technology,"7th Floor, Building C, No. 1010 Anling Road, H...",$4.00 - $4.00,$8.0 mil
17,Wanda Sports Group,"9/F, Tower B, Wanda Plaza, 93 Jianguo Road, Ch...",$8.00 - $8.00,$190.4 mil
18,Castle Biosciences,"820 S. Friendswood Drive, Suite 201, Friendswo...",$16.00 - $16.00,$64.0 mil
19,Health Catalyst,"3165 Millrock Drive #400, Salt Lake City, UT 8...",$26.00 - $26.00,$182.0 mil
20,Livongo Health,"150 West Evelyn Avenue, Mountain View, Califor...",$28.00 - $28.00,$355.2 mil
21,ProSight Global,"412 Mt. Kemble Avenue, Suite 300, Morristown, ...",$14.00 - $14.00,$110.0 mil
22,Sunnova Energy International,"20 East Greenway Plaza, Suite 475, Houston, TX...",$12.00 - $12.00,$168.0 mil
23,Afya Limited,"Alameda Oscar Niemeyer, No. 119, Sala 504, Vil...",$19.00 - $19.00,$261.1 mil
24,Medallia,"575 Market Street, Suite 1850, San Francisco, ...",$21.00 - $21.00,$325.5 mil
25,Fulcrum Therapeutics,"26 Landsdowne Street, Cambridge, MA 02139, US",$16.00 - $16.00,$72.0 mil
26,Owl Rock Capital,"399 Park Avenue, 38th Floor New York, NY 10022...",$0.00 - $0.00,$172.5 mil
27,Phreesia,"432 Park Avenue South, 12th Floor , New York, ...",$18.00 - $18.00,$167.2 mil
28,DouYu International Holdings,"Building F4, Optical Valley Software Park, Gua...",$11.50 - $11.50,$775.0 mil
29,Karuna Therapeutics,"33 Arch Street, Suite 3110, Boston, MA 02110, US",$16.00 - $16.00,$89.2 mil
...,...,...,...,...
108,Orchard Rx Ltd.,"108 Cannon Street, London EC4N 6EU, United Kin...",$14.00 - $14.00,$200.0 mil
109,Twist Bioscience,"455 Mission Bay Boulevard South, Suite 545, Sa...",$14.00 - $14.00,$70.0 mil
110,Gamida Cell Ltd.,"5 Nahum Heftsadie St., Givaat Shaul, Jerusalem...",$8.00 - $8.00,$50.0 mil
111,Pintec Technology Holdings,"216, 2/F East Gate, Pacific Century Place, No....",$11.88 - $11.88,$44.3 mil
112,YETI Holdings,"5301 Southwest Parkway, Suite 200 Austin, TX 7...",$18.00 - $18.00,$288.0 mil
113,LogicBio Therapeutics,"610 Main Street, 3rd Floor, Cambridge, MA 0213...",$10.00 - $10.00,$70.0 mil
114,Niu Technologies,"No. 10 Wangjing Street, Building A, 11/F, Chao...",$9.00 - $9.00,$56.0 mil
115,SolarWinds,"7171 Southwest Parkway, Building 400, Austin, ...",$15.00 - $15.00,$387.5 mil
116,Osmotica Pharmaceuticals plc,"400 Crossing Boulevard, Bridgewater, NJ 08807, US",$7.00 - $7.00,$46.6 mil
117,PhaseBio Pharmaceuticals,"1 Great Valley Parkway, Suite 30, Malvern, PA ...",$5.00 - $5.00,$46.0 mil
118,Studio City International Holdings,"36/F, The Centrium, 60 Wyndham Street, Central...",$12.50 - $12.50,$359.4 mil
119,SI-BONE,"471 El Camino Real, Suite 101, Santa Clara, CA...",$15.00 - $15.00,$108.0 mil
120,Anaplan,"50 Hawthorne Street, San Francisco, CA 94105, US",$17.00 - $17.00,$248.0 mil
121,Equillium,"2223 Avenida de la Playa, Suite 108, La Jolla,...",$14.00 - $14.00,$65.4 mil
122,Allogene Therapeutics,"210 East Grand Avenue, South San Francisco, CA...",$18.00 - $18.00,$324.0 mil
123,Livent,"2929 Walnut Street, Philadelphia, PA, 19104, US",$17.00 - $17.00,$340.0 mil
124,Elastic N.V.,"800 West El Camino Real, Suite 350, Mountain V...",$36.00 - $36.00,$252.0 mil
125,Guardant Health,"505 Penobscot Drive, Redwood City, CA 94063, US",$19.00 - $19.00,$237.5 mil
126,Kodiak Sciences Inc.,"2631 Hanover Street, Palo Alto, CA 94304, US",$10.00 - $10.00,$90.0 mil
127,Upwork,"441 Logue Avenue, Mountain View, CA 94043, US",$15.00 - $15.00,$187.2 mil
128,CooTek (Cayman) Inc.,"Building 7, No. 2007 Hongmei Road, Xuhui Distr...",$12.00 - $12.00,$52.2 mil
129,Arvinas,"5 Science Park, 395 Winchester Ave., New Haven...",$16.00 - $16.00,$120.0 mil
130,LAIX Inc.,"3/F, Building B, No. 1687 Changyang Road, Yang...",$12.50 - $12.50,$71.9 mil
131,Ra Medical Systems,"2070 Las Palmas Drive, Carlsbad, CA 92011, US",$17.00 - $17.00,$66.3 mil
132,Urovant Sciences,"Suite 1, 3rd Floor, 11-12 St. James’s Square, ...",$14.00 - $14.00,$140.0 mil
133,Arco Platform Ltd.,"Rua Elvira Ferraz 250, Sala 716, Vila Olímpia,...",$17.50 - $17.50,$194.4 mil
134,Capital Bancorp,"One Church Street, Rockville, MD 20850, US",$12.50 - $12.50,$27.9 mil
135,Entasis Therapeutics Holdings,"35 Gatehouse Drive, Waltham, MA 0245, US",$15.00 - $15.00,$75.0 mil
136,SVMK (SurveyMonkey),"One Curiosity Way, San Mateo, CA 94403, US",$12.00 - $12.00,$180.0 mil
137,"Viomi Technology Co., Ltd.","Wansheng Square, Rm 1302 Tower C, Xingang East...",$9.00 - $9.00,$102.6 mil

In [93]:
df7.to_csv('IPOdataThree.csv')

In [109]:
df7 = pd.merge(df4,df6,how="left", on="Company")
df7.head()

,Company,Symbol,Industry,date,shares,price,close,current_price,return,address,price_range,volume
0,Datadog,DDOG,Technology,9/19/2019,24.0,$27.00,$37.55,$34.50,27.78%,"620 8th Avenue, 45th Floor, New York, NY 10018...",$27.00 - $27.00,$648.0 mil
1,Exagen,XGN,Health Care,9/19/2019,3.6,$14.00,$18.58,$16.79,19.93%,"1261 Liberty Way, Suite C, Vista, CA 92081, US",$14.00 - $14.00,$50.0 mil
2,Ping Identity Holding,PING,Technology,9/19/2019,12.5,$15.00,$20.11,$18.51,23.40%,"1001 17th Street, Suite 100, Denver, CO 80202, US",$15.00 - $15.00,$187.5 mil
3,Envista Holdings,NVST,Health Care,9/18/2019,26.8,$22.00,$27.95,$28.22,28.27%,"200 S. Kraemer Blvd., Building E, Brea, CA 928...",$22.00 - $22.00,$588.9 mil
4,IGM Biosciences,IGMS,Health Care,9/18/2019,10.9,$16.00,$24.30,$20.70,29.38%,"325 E. Middlefield Road, Mountain View, CA 940...",$16.00 - $16.00,$175.0 mil

In [138]:
# df7['volume'] = df7['volume'].str.replace(r'\D', '')
df7.address[1]

'1261 Liberty Way, Suite C, Vista, CA 92081, US'

In [15]:
companies[5].T.iloc[1,:].tolist()

IndexError: list index out of range

In [ ]:
data = t.iloc[1].tolist()

In [ ]:
dflist = []

In [ ]:
for 
soontobedf.append(data)

In [ ]:
df2 = pd.DataFrame(companies[0][1])

# df2.columns = [0]
df2

In [ ]:
# df2.pivot()

In [ ]:
df2.groupby(level=[0])
df2.append(companies[0][1])

In [ ]:
df3 = pd.melt(df2)
df3

In [ ]:
df4 = df3.pivot(columns="value")
df4

In [ ]:
df5.append

In [ ]:
table = pd.read_html("https://www.iposcoop.com/ipo/fiverr-international-ltd/")

In [ ]:
type(companies)

<h2>Soup Scrape</h2>

In [ ]:
from splinter import browser
from bs4 import BeautifulSoup
url = "https://www.iposcoop.com/last-12-months/"
browser.visit(url)

In [ ]:
link = browser.find_by_css("#DataTables_Table_0_next")

In [ ]:
import requests
companies = []
for i in company_list:

    table = pd.read_html(f'https://www.iposcoop.com/ipo/{i}/')
    if table:
        companies.append(table[0])
    else:
        print "error"

In [ ]:
len(companies)